.main{
	// width: 100%;
	// height: 300px;
	// background-color: #ffffff;
	border: 3px solid #000000;
    margin: 30px ;
}
.mainn{
	display: flex;
	margin: 30px ;
	flex-direction: column;
}
.menu{
	display: flex;
	justify-content: center;
	align-items: center;
}




